.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    background-color: rgb(232, 236, 230);
    border-radius: 8px;
    border: 1px solid darkslategray;
    padding: 24px;
}