.form_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    flex-grow: 1;
}

.link {
    text-decoration: underline;
    color: darkslategray;
    &:visited {
        color: darkslategray;
    }
}

.link:hover {
    color: black;
}
