.active {
    position: relative;
}

.active::after {
    content: '';
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, darkseagreen 0%, aliceblue 50%, darkseagreen 100%);
    position: absolute;
    bottom: -4px;
    left: 0px;
}

.active:hover::after {
    background: linear-gradient(90deg, aliceblue 0%, darkseagreen 50%, aliceblue 100%);
}
